.contact-container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    background-color: #343434;
    color: #cdcdcd;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 40%; /* Adjust this width as needed */
    padding: 20px;
}

input {
    width: 100%;
    margin: 10px 0 0 0;
}

textarea {
    width: 100%;
    margin: 10px 0 0 0;
}