.greeting-menu {
  width: 80%;
  margin: 8%;
}

.left-scroll-content {
  position: fixed;
  margin: 30% 2% 2% 2%;
}
.right-scroll-content {
  position: fixed;
  margin: 30% 2% 2% 90%;
  transform: rotate(90deg);
}

a {
  margin: 10px;
}

p {
  margin: 20px 0 0;
  max-width: 60%;
}

/* Media Queries */

/* Media query for screens below 600px */
@media (max-width: 768px) {
  
    .left-scroll-content {
    position: relative;
    justify-content: center;
    margin: 0%;
  }
  .right-scroll-content {
    position: relative;
    transform: rotate(360deg);
    justify-content: center;
    margin: 0% 30% 0% 30%;
  }
}

/* desktop */
@media (min-width: 601px) {
}
