.home-container {
    padding: 4px;
    display: flex;

}

.home-left {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}

.home-right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.home-circle {  
    background-color: rgb(229, 238, 255);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
}

.headshot {
    position: absolute;
    left: 0;
    bottom: -1px;
}

.home-text {
    margin: 30px;
    color: aliceblue;
}

.home-button {
    display: flex;
    justify-content: center;
    border-style:solid;
    border-color: aliceblue;        
    border-width: 1px;
    border-radius: 2px;
    padding: 5px;
    font-size: 20px;
    width: 35%;
    cursor: pointer;
}