.nav-container {
    display: flex;
    justify-content: space-between;
    font-size: 7px;
    padding: 20px 30px;

}

.nav-text {
    cursor: pointer;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 5px;
}