@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    padding: 20px 40px 20px 40px;
    text-align: center;
    background-color: rgb(229, 238, 255);
    font-family: 'Ubuntu', sans-serif;
}

.menu {
    padding: 40px;
    background-color: yellow;
}

.border {
    padding: 40px;
    border: 25px;
    border-radius: 30px;
    background-color: white;
}